@for (color of colors; track color.id) {
    <div class="row justify-content-center mt-1">
        <div class="col-8">
    <table class="table ">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Codigo</th>
            <th scope="col">Editar</th>
            <th scope="col">Borrar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{color.id}}</th>
            <th scope="row">{{color.name}}</th>
            <th scope="row">{{color.code}}</th>
            <th scope="row"><button  class="m-1 botonCrear" name="edit" [routerLink]="['../editeColors/',color.id]">Editar</button></th>
            <th scope="row"><a href="">borra</a></th>
          </tr>
         
        </tbody>
      </table>
 
    </div>   </div>
}