<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        
        <li class="nav-item dropdown">
          <a class="navbar-brand text-white" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Inicio
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="navbar-brand text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categorias
          </a>
          <ul class="dropdown-menu secundary">
            <li><a class="nav-link text-white" href="viewCategories">Ver categorias</a></li>
            <li><a class="nav-link text-white" href="createCategories">Crear categorias</a></li>
            
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ">
        <li class="nav-item dropdown">
          <a class="navbar-brand text-white"  href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Colores
          </a>
          <ul class="dropdown-menu secundary ">
            <li><a class="nav-link text-white" href="viewColors">Ver colores</a></li>
            <li><a class="nav-link text-white" href="createColors">Crear color</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="navbar-brand text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Prendas
          </a>
          <ul class="dropdown-menu secundary ">
            <li><a class="nav-link text-white"  href="viewClothes">Ver prendas</a></li>
            <li><a class="nav-link text-white" href="createClothes">Crear prenda</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class=" navbar-brand text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Locales
          </a>
          <ul class="dropdown-menu secundary ">
            
            <li><a class="nav-link text-white" href="viewLocales">Ver locales</a></li>
            <li><a class="nav-link text-white" href="createLocales">Crear locales</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
