<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categorias
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="viewCategories">Ver categorias</a></li>
            <li><a class="dropdown-item" href="createCategories">Crear categorias</a></li>
            <li><a class="dropdown-item" href="editCategories">Editar categorias</a></li>
            
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Colores
          </a>
          <ul class="dropdown-menu ">
            <li><a class="dropdown-item" href="viewColors">Ver colores</a></li>
            <li><a class="dropdown-item" href="createColors">Crear color</a></li>
            <li><a class="dropdown-item" href="editteColors">Editar color</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Prendas
          </a>
          <ul class="dropdown-menu ">
            <li><a class="dropdown-item" href="viewClothes">Ver prendas</a></li>
            <li><a class="dropdown-item" href="createClothes">Crear prenda</a></li>
            <li><a class="dropdown-item" href="editteClothes">Editar prenda</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Locales
          </a>
          <ul class="dropdown-menu ">
            <li><a class="dropdown-item" href="#">Ver stocks casino</a></li>
            <li><a class="dropdown-item" href="#">Ver stocks fisherton</a></li>
            <li><a class="dropdown-item" href="#">Ver stocks bosque</a></li>
            <li><a class="dropdown-item" href="createLocales">Crear locales</a></li>
            <li><a class="dropdown-item" href="editteLocales">Editar locales</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>