@for (clothe of clothes; track clothe.code) {
    <div class="row justify-content-center mt-1">
        <div class="col-8">
    <table class="tables mt-2 ">
        <thead>
          <tr>
            <th scope="col"  class="col-1 padding">Codigo</th>
            <th scope="col" class="col-2 padding">Nombre</th>
            <th scope="col" class="col-2 padding">imagen</th>
            <th scope="col" class="col-2 padding">agregar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{clothe.code}}</th>
            <th scope="row">{{clothe.name}}</th>
            <th scope="row">{{clothe.image}}</th>
            <th scope="row"><button class="botonCrear" (click)="addClothe(clothe.id)">agregar</button></th>
          </tr>
        </tbody>
      </table>
    </div>    
  </div>

}     