<div class="margen"></div>
<div class="row justify-content-center mt-5 text-end">
   <b class="card-header  col-12 mb-1 text-center">{{titulo}}</b>
   <div class="row justify-content-center">
      <form [formGroup]="form" class="col-12 text-center" >
         <div class="m-2 col-10  ">
            <label class="col-3 col-sm-2 text-end m-2" for="name "> Nombre</label>
            <input class="col-6 col-sm-2" type="text"  formControlName="name" [(ngModel)]="local.name">
         </div>
         <div>
            @if(flag){
               <button class="botonCrear" (click)="create()">Crear</button>
            
            }@else{
               <button class="botonCrear" (click)="edit()">Editar</button>
            }
            
         </div>
      </form>
   </div>
</div>
 